# Binaries for programs and plugins
*.so
*.dylib
simple-rest-api-server-fan-in
main

# Test binary, built with `go test -c`
*.test

# Os X.
.DS_Store

# IDE
.idea/
.vscode/
*.out
tests/
*.http

# Go
vendor/
